.App {
  text-align: center;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 20vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}



.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  
}
a{
  color:magenta;
  text-decoration: none;
}

li{
  color:magenta;
  text-decoration: none;
}

#siteTitle {
  position: absolute;
  top: -2%;
  left: 2%;
  height: 10%;
  color: blue;
  font-size:large;
  padding:2rem;
  
}



#nav{
  background-color: black;
  display: flex;
  box-shadow:2px 2px blue;
  display: -webkit-flex;
  float: right;
  padding:2%;
  margin:0;
  width: 100%;
  opacity:0.75;
  z-index: 5;
  margin-top: -2%;
  position: fixed;
}

.homePar{
  padding-left: 25%;
  padding-right: 20%;
  color:darkblue;
  font-size:large;

}

#originsTitle{
  padding-left: 45%;
  padding-right: 40%;
}



.navMenu{
  
  right: 2%;
  font-size:small;
  display: flex;
  float: right;
  position: absolute;
  justify-items: left;
  width: 10%;
  

}

.introductionPar{
  padding-left: 25%;
  padding-right: 25%;
  color: green;
  font-size:large;
  

}

#homeMenu{
  
  right: 20rem;
  padding-left: 1rem;
  padding-top: 1rem;
  text-decoration: none;

}

#quoteMenu{
  
  right: 16rem;
  padding-left: 2rem;
  padding-top: 1rem;

}

#contactMenu{
  
  right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  

}

#dataMenu{
  right: 25rem;
  padding-left: 2rem;
  padding-top: 1rem;

}

#counter{
  right:40%;
  top:30%;
  position: absolute;
}

#directionsMenu{
  
  right: 10rem;
  padding-left: 2rem;
  padding-top: 1rem;

}

#welcome{
  font-size: xx-large;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
  
}

#introductionFreeShipping{
  color:red;
  padding-left: 25%;
  padding-right: 25%;
  font-size: xx-large;
}

#mainPictureBody{
  padding-left: 10%;
  padding-right: 10%;
  padding-top:  2%;

}




#quoteForm{
 
  
  
  color: darkred;
  
  width: 100%;
  height:100%;

}

#formName{
  top:45%;

}

#formEmail{
  top:50%;
  
}

#formQuestion{
  top:60%;
}

.Form{
  left: 30%;
  width: 100%;
  position: absolute;
  
}

#quoteTitle{
  color: darkmagenta;
  font-size: xx-large;
  padding: 4rem;
  left:20%;
  position: absolute;
}
#quotePar{
  color: black;
  top: 10rem;
  left: 20%;
  position: absolute;
}

#quoteSubmit{
  bottom: 20%;
  left: 30%;
  position:absolute;
}

.MapContainer{
  height: 100%;
  width: 100%;
}

#mapTitle{
  position: absolute;
  top: 5rem;
  padding-left: 40%;
  padding-right: 20%;

  color:green;
}



#contactTitle{
  position:absolute;
  top: 20%;
  left:40%;
}

#contAddress{
  position:absolute;
  top: 28%;
  left: 30%;
}

#contPhone{
  position: absolute;
  top:32%;
  left:30%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
