body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#siteTitle {
  position: absolute;
  top: 1%;
  left: 2%;
  height: 10%;
  color: blue;
  font-size:small;
  padding:2rem;
  
}
.navBar{
  position: sticky;
  background-color:black;
  top: 1%;
  font-size:xx-small;
  display: flex;
  box-shadow:0 0 blue;
  display: -webkit-flex;
  float: right;
  padding:2%;
  margin:0;
  height: 15%;
  width: 100%;
  opacity:0.75;
  z-index: 5;
  

}

.navMenu{
  top: 1%;
  right: 2%;
  font-size:xx-small;
  display: flex;
  float: right;
  position: absolute;
  justify-items: left;
  color: blue;
  height: 10%;
  width: 10%;
  

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

